fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
httpx
python-dotenv
python-multipart
authlib
itsdangerous
pydantic
pydantic-settings
google-generativeai
python-docx
reportlab
python-socketio
bidict
python-engineio
email-validator